*{
    box-sizing: border-box;
}
.content-wrapper{
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
}
.header-menu-mobile, .menu-hamburger{
    display: none;
}
body{
    margin: 0;
    padding: 0;
}
.social{
    &-desktop{
        width: 100%;
        text-align: right;
    }
    

    &-icon{
        text-align: center;
        display: inline-block;
        margin-left: 20px;
        font-size: 25px;
        color: black;
        box-sizing: initial;
        border: 2px solid black;
        padding: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        transition: .25s;
        
        &:hover{
            background-color: black;
            color: white;
        }
    }
}

.header{
    margin: 30px 0;

    &-banner{

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: 'Bebas Neue', cursive;

        .branding{
            width: 100%;
            display: flex;
            align-items: center;
            .logo{
                height: 6rem;
            }
            .title{
                display: inline-block;
                font-size: 60px;
                margin: 0;
            }
        }
        
        
    }
    
    &-nav-desktop{
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        background-color: #2a5bc4;
        .header-nav-list{
            text-align: center;
            padding: 0;
        }
        ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            background-color: white;
        }
        .dropdown{
            display: none;
            position: absolute;
            width: 100%;
            flex: 1;
            a{
                font-size: 16px;
            }
        }
        .nav-item{
            display: inline-block;
            background-color:  #2a5bc4;
            border: none;
            color: white;
            text-decoration: none;
            font-size: 20px;
            width: 100%;
            height: 100%;
            padding: 5px;
            border-left: 2px solid white;
            border-right: 2px solid white;
            flex: 1;

            &:hover{
                background-color: grey;
            }
        }
        .nav-group{
            width: 20%;
            position: relative;

            &:hover .dropdown{
                display: block;
            }
        }
        
    }

    &-menu-mobile{

        width: 100%;
        height: 100vw;
        background-color: white;
        position: absolute;

        .header-nav-mobile{
            text-align: center;
            ul{
                list-style: none;
                padding: 0;
            }
            .dropdown{
                .nav-item{
                    background-color: white;
                    color: black;
                    text-align: center;
                    border-top: 2px solid black;
                }
                display: none;
            }
            .nav-item{
                display: inline-block;
                background-color:  #2a5bc4;
                border: none;
                color: white;
                text-decoration: none;
                font-size: 20px;
                width: 100%;
                padding: 5px;
                border-left: 2px solid white;
                border-right: 2px solid white;
                flex: 1;
    
                &:hover{
                    background-color: grey;
                }
            }
        }

        
    }

    .menu-hamburger{
        height: 35px;
        width: 35px;
        background-color: transparent;
        border-radius: 5px;
        box-sizing: initial;
        border: 2px solid black;
        transition: .25s;
        font-size: 30px;
        cursor: pointer;
        &:hover{
            color: white;
            background-color: black;
        }
    }
    


}

main{
    .content{
        padding: 2em;
        text-align: center;
        font-size: 40px;
    }
}

.footer{
    width: 100%;
    background-color: #2a5bc4;
    padding: 20px;
    
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .philosophy{
        flex: 1;
        color: white;
        p{
            font-weight: 300;
            line-height: 1.2;
        }
    }
    
}
@media (max-width:700px){
    .header-nav-desktop, .social-desktop{
        display: none;
    }
    .menu-hamburger{
        display: inline-block;
    }
    header{
        border-bottom: 3px solid black;
    }
    .footer-container{
        flex-direction: column;
        text-align: center;

        ol{
            display: inline-block;
            text-align: left;
            margin: auto;
            margin-bottom: 40px;
        }
    }
}
