*{
    box-sizing: border-box;
}
.content-wrapper{
    max-width: 1000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.social{
    width: 100%;
    text-align: right;

    &-icon{
        text-align: center;
        display: inline-block;
        margin-left: 20px;
        font-size: 25px;
        color: black;
        box-sizing: initial;
        border: 2px solid black;
        padding: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        transition: .25s;
        
        &:hover{
            background-color: black;
            color: white;
        }
    }
}

.header{

    &-banner{

        display: flex;
        flex: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: 'Bebas Neue', cursive;

        .branding{
            width: 100%;
            display: flex;
            align-items: center;
            .logo{
                height: 6rem;
            }
            .title{
                display: inline-block;
                font-size: 60px;
            }
        }
        
        
    }
    
    &-nav{
        font-family: 'Roboto', sans-serif;
        width: 100%;
        background-color: #2a5bc4;
        &-list{
            text-align: center;
        }
        ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            background-color: white;
        }
        .dropdown{
            display: none;
            position: absolute;
            width: 100%;
            flex: 1;
            a{
                font-size: 16px;
            }
        }
        .nav-item{
            display: inline-block;
            background-color:  #2a5bc4;
            border: none;
            color: white;
            text-decoration: none;
            font-size: 20px;
            width: 100%;
            padding: 5px;
            border-left: 2px solid white;
            border-right: 2px solid white;
            flex: 1;

            &:hover{
                background-color: grey;
            }
        }
        .nav-group{
            width: 20%;
            position: relative;

            &:hover .dropdown{
                display: block;
            }
        }
        
    }


}

main{
    .content{
        padding: 2em;
        text-align: center;
        font-size: 40px;
    }
}

.footer{
    width: 100%;
    background-color: #2a5bc4;
    .footer-container{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    .philosophy{
        color: white;
        p{
            font-weight: 300;
            line-height: 1.2;
        }
    }
    
}